<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="stylesheets/panelreset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="stylesheets/panelstyle.css"> <!-- Resource style -->
	<link rel="stylesheet" href="stylesheets/paneldemo.css"> <!-- Demo style -->
  	
	<title>Slide In Panel</title>
</head>
<body>
	<input type="checkbox" name="toggle" id="toggle" />
	<label for="toggle"></label>

	<div class="container">
		<h1>Pure CSS3 Slide Down Toggle Demo</h1>
		<h2> Click the Open button to see hidden mesage.</h2>
	</div>

	<div class="message">
		<h1> hello, I'm a hidden message. You found it.</h1>
		<h2>Now Click the Heart button in the bottom to support CSS3</h2>
	</div>
</body>
</html>