<html>
   <head>
      <style type="text/css">
	body {background-color: black;}
	table, tr, td {border: 5px solid #FFFFFF;}
	td.Banner{background: #FFFFFF url(MenuBar.jpg)}
	td.MenuBar
	{
	   border: 5px solid #FFFFFF;
	   border-spacing: 1px;
	}
      </style>
   </head>
   <body>
      <table height=100% width=100% border=1>
	<tr>
	   <td width=100% height=200 colspan=9 class=Banner>asdf</td>
	</tr>
	<tr>
	   <td width=50 height=20 class=MenuBar>asdf</td>
	   <td width=50 height=20 class=MenuBar>asdf</td>
	   <td width=50 height=20>asdf</td>
	   <td width=50 height=20>asdf</td>
	   <td width=50 height=20>asdf</td>
	   <td width=50 height=20>asdf</td>
	   <td width=50 height=20>asdf</td>
	   <td width=50 height=20 class=MenuBar>asdf</td>
	   <td width=50 height=20 class=MenuBar>asdf</td>
	</tr>
	<tr>
	   <td width=100% height=100% colspan=9><iframe width=100% height=100% src="http://www.google.com"></iframe></td>
	</tr>
      </table>