<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen">
	</head>
	<body>
		<table height="100%" width="100%" border="1">
			<tr><td width="100%" height="200px" colspan="9">Banner</td></tr>
			<tr>
				<td class="menu">Option 1</td>
				<td class="menu">Option 2</td>
				<td class="menu">Option 3</td>
				<td class="menu">Option 4</td>
				<td class="menu">Option 5</td>
				<td class="menu">Option 6</td>
				<td class="menu">Option 7</td>
				<td class="menu">Option 8</td>
				<td class="menu">Option 9</td>
			</tr>
			<tr>
				<td width="100%" height="100%" colspan="9">
					<iframe width="100%" height="100%" src="https://www.duckduckgo.com"></iframe>
				</td>
			</tr>
		</table>
	</body>
</html>